{% extends 'base.html.twig' %}

{% block title %}Personnages - Modification{% endblock %}

{% block content_title %}Modification personnage{% endblock %}

{% block introduction %}
    <div class="d-grid mb-2 gap-2 d-md-flex justify-content-md-end">
        <a class="btn btn-secondary" href="{{ path('personnage_index') }}">Retour à la liste</a>
    </div>
{% endblock %}

{% block content %}
    {{ include('personnage/_form.html.twig') }}
{% endblock %}
